// couleurs utilisées dans le projet4
$primarycolor: #9356dc;
$secondarycolor: #ff79da;
$tertiarycolor: #99e2d0;
$blue2: #003a68;
$blue: #89c8fa;
$greenFont: #008766;
$light-pink: #fcc0ce;
$grey: #353535;

// variables pour les medias queries
// md for medium screen and ld for large screen
$breakpoint-ms: 768px;
$breakpoint-ls: 1025px;
