* p {
  font-family: "Roboto", sans-serif;
}

* h1 {
  font-family: "Shrikhand", cursive;
}

.header-logo {
  display: flex;
  justify-content: center;

  img {
    width: 45%;
    height: 44px;
  }
}
