footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  padding: 22px 25px;

  @media screen and (min-width: $breakpoint-ms) {
    align-items: center;
  }

  @media screen and (min-width: $breakpoint-ls) {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 60px;
  }

  h2 {
    margin: 0px;
    color: #ffff;
    font-family: Shrikhand, sans-serif;
    font-size: 1.13rem;
    font-weight: 500;
    padding-bottom: 10px;
  }

  ul,
  li {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;

    @media screen and (min-width: $breakpoint-ms) {
      align-items: center;
    }

    @media screen and (min-width: $breakpoint-ls) {
      flex-direction: row;
      align-items: center;
      gap: 24px;
    }
  }

  a {
    color: #fff;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 500;
  }

  .ustensils {
    width: 11px;
    height: 13px;
    margin-right: 15px;
  }

  .handshake {
    width: 11px;
    height: 13px;
    margin-right: 15px;
  }
}
