.header {
  display: flex;
  align-items: center;
  justify-content: center;

  .header-logo {
    display: flex;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px;

    img {
      width: 95%;
      height: 36px;
    }
  }

  .arrow {
    position: absolute;
    left: 20px;
  }
}
