.location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  padding: 0px;
  gap: 17px;
  box-shadow: inset 0px 6px 8px 0px #dbd0d2;

  &__search {
    border: none;
    background: #eaeaea;
    // width: 35%;
    font-size: 1em;
    font-weight: 500;
    color: $grey;
  }
}
