.main__menu {
  @include main-menu;
}
.full__menu {
  width: 95%;
  @media screen and (min-width: $breakpoint-ms) {
    width: 65%;
  }
}

.cross {
  @include cross;
}
.line {
  width: 40px;
  border: 2px solid $tertiarycolor;
  margin-left: 10px;
}

.order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  width: 50%;

  @media screen and (min-width: $breakpoint-ms) {
    width: 30%;
  }

  @media screen and (min-width: $breakpoint-ls) {
    width: 30%;
  }

  @media screen and (min-width: $breakpoint-xls) {
    width: 25%;
  }
}
