.main__menu {
  @include main-menu;
}

.appetizers {
  animation: fadein 3s ease-in-out;
}
.dish {
  animation: fadein 6s ease-in-out;
}
.dessert {
  animation: fadein 9s ease-in-out;
}
.cross {
  @include cross;
}
.line {
  width: 40px;
  border: 2px solid $tertiarycolor;
  margin-left: 10px;
}

.order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
