.main__menu {
  @include main-menu;
}
.full__menu {
  width: 95%;
  @media screen and (min-width: $breakpoint-ms) {
    width: 65%;
  }
}

.cross {
  @include cross;
}
.line {
  width: 40px;
  border: 2px solid $tertiarycolor;
  margin-left: 10px;
}
